<h2 class="inline-flex"><%= breadcrumb %><%=l(:label_test_case_execution_edit)%> #<%= @test_case_execution.id %></h2>

<%= form_with(model: @test_case_execution,
              url: (@test_plan_given ? project_test_plan_test_case_test_case_execution_path : project_test_case_test_case_execution_path),
              html: { multipart: true }) do |f| %>
  <%= render partial: 'test_case_executions/form', locals: {form: f} %>
  <%= f.submit l(:button_update) %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_case_executions/sidebar' %>
<% end %>
